[2021-03-01 07:36] rikschennink commented on #170
The React doesn't export the `setOptions` method.

You can use it like this
[code]

[2021-03-01 12:34] rikschennink commented on #169
We require the issue template to be filled out on all new issues. The issue template helps us collect all the information we need to address your submission efficiently.

The more information we have, the faster the issue can be resolved.

We will be able to more closely look at your issue once the issue template has been filled out. The issue will be closed until the above is addressed.

**Please

[2021-03-01 12:34] #169 closed

[2021-03-03 07:33] lucvanrooyen opened #171 "Uploading multiple files works but doesn't show percentage or change to complete once done"
**Describe the bug**
Hi there - when uploading multiple files I am having a weird  behaviour - the first 1/2 files show the upload percentage and once complete it changes to Complete but the rest just show uploading even once the file has uploaded successfully

**Logs**
N/A

**To reproduce**
Upload multiple files - in my case its 9

**Expected behavior**
Shows progress percentage and changes to co

[2021-03-03 10:38] rikschennink commented on #171
Hi, please supply an online test case, happy to take a look.

[2021-03-03 12:06] lucvanrooyen commented on #171
Client policy is blocking me from exposing some of our code - would a screen recording and network snap shot suffice?

[2021-03-03 12:21] rikschennink commented on #171
You can fork this code sandbox https://codesandbox.io/s/react-filepond-live-demo-iw9ri and create a mock process method.

[2021-03-03 15:09] PedroRTomas opened #172 "filepond within a tabs component (removefile event being trigered)"
Hello,
I've been working on a vue project where I need to have a tabs-component. Within each tab, I need to have a filepond component. (For each tab, the user needs to be able to submit files)
What is happening: While changing tabs, the removefile event is being fired and files are being wrongly deleted.

What I think it's happening: While changing between tabs, the instance of filepond is being d

[2021-03-08 12:41] rikschennink commented on #172
We require the issue template to be filled out on all new issues. The issue template helps us collect all the information we need to address your submission efficiently.

The more information we have, the faster the issue can be resolved.

We will be able to more closely look at your issue once the issue template has been filled out. The issue will be closed until the above is addressed.

**Please

[2021-03-08 12:41] #172 closed

[2021-03-10 09:45] lucvanrooyen commented on #171
https://codesandbox.io/s/react-filepond-live-demo-forked-gjsil?file=/src/index.tsx

[2021-03-10 09:46] lucvanrooyen commented on #171
We have also noticed that on single file uploads that usually show the percentage - if the file is large it also does not show the percentage - it just shows "uploading"

[2021-03-16 03:55] michaelcuneo commented on #153
@Rafcin same here... all of my FilePond's are wrapped in a Formik component. I can add posts, edit posts, and remove posts, with my component, only if I make sure that I add the images as the very last step... as soon as I edit any other input field inside the Formik component, Filepond drops it's images, and/or resets to the initial image state. (If it had images already i.e. editing).

This has

[2021-03-17 05:34] wangshangkun opened #173 "The prompt that the file exceeds the maximum limit is gone"
**Describe the bug**
The prompt that the file exceeds the maximum limit is gone

When I use the compact circle layout, then selected file exceeds the maximum limit, but the prompt is gone, only a close button is left。

How can I solve this problem?

[2021-03-17 07:44] rikschennink commented on #173
The circle layout isn't very suitable to show those errors, I advise to catch the error with error event callback and then show an error next or above the field.

[2021-03-17 07:44] #173 closed

[2021-03-19 12:28] rikschennink commented on #171
I just tried to take a look but the server prop is set to an empty string.

[2021-03-19 12:28] #171 closed

[2021-03-19 13:12] lucvanrooyen commented on #171
I cant give you our servers details? Can you not replace it with your own server? Is there anyway we could have a video call?

[2021-03-19 13:12] lucvanrooyen commented on #171
We are using an azure cloud blob

[2021-03-19 13:28] rikschennink commented on #171
@lucvanrooyen This is an open source MIT licensed product, so no, I can't hop on a call.

[2021-03-19 16:03] rikschennink commented on #168
Just updated all plugin type declarations, should be fixed now.

[2021-03-19 16:03] #168 closed

[2021-03-19 16:04] rikschennink commented on #157
Just updated all plugin type declarations, should be fixed now.

[2021-03-20 15:16] imekachi commented on #157
Thank you @rikschennink.
After upgraded everything else works fine except for the prop `allowImageExifOrientation` from  `filepond-plugin-image-exif-orientation` which shouldn't be a required prop according to the [document](https://pqina.nl/filepond/docs/patterns/plugins/image-exif-orientation/).

I've submitted an issue here  pqina/filepond-plugin-image-exif-orientation#8

[2021-03-20 16:03] rikschennink commented on #157
Glad to hear that!

Will fix the orientation problem later today or tomorrow 👍

[2021-03-20 16:03] #157 closed

[2021-03-23 00:50] michaelcuneo commented on #112
I have solved this eventually, and did state that I would respond with my solution for future visitors.

Here is the final solution.

Formik/Yup uses initialValues, as its incoming data, and values as its changing data.

[code]

To feed Formik valid form data, I have added a ...project, and it's files in the desired File-Pond format.

[code]

This sets up my initial Formik data with initial values

[2021-03-23 00:51] michaelcuneo commented on #112
A further notes... onupdatefiles has been modified to simply update based on the formik's setFieldValue, any other modification outside of Formik breaks the component.

[2021-04-12 09:59] farhadnowzari commented on #109
It is not being called for me.
I'm using it with the Vue component.
I can listen to addfile, removefile but not preparefile.
I'm using the filepond version 6.0.3 and doka 6.x

[2021-04-12 13:53] Lewis-Seekio opened #175 "When filepond makes a GET request to my firebase storage, the link uses url decode %252F instead of %2F"
Hi guys, I am a front end dev primarily so I don't know too much regarding servers, get requests etc. but I am learning as I go.

**App summary:**
On my web app, each user has a listing that has multiple images in Firebase Storage.
When a user wants to edit their listing, I want to download the images that already exist in the listing and place them into Filepond, then the user can add new images,

[2021-04-13 09:15] rikschennink commented on #175
I don't see a `server` property in the FilePond component? So is FilePond uploading the images or are you uploading elsewhere?

[code]

[2021-04-13 10:41] Lewis-Seekio commented on #175
I'm uploading the files to Firebase and I handle that in my own submission method, so I left the server property blank

[2021-04-13 10:45] rikschennink commented on #175
Oh sorry, I misread, it's about downloading/reading images. Will take another look asap.

[2021-04-13 12:42] Lewis-Seekio commented on #175
No worries! thanks for offering your help!

[2021-04-15 11:25] Lewis-Seekio commented on #175
bump

[2021-04-17 16:20] Lewis-Seekio commented on #175
Ive managed to get round this by instead of passing the image URL's of the already uploaded photos in firebase, I use axios to get the file object and then pass it to filepond.

[2021-04-19 09:22] #175 closed

[2021-04-20 10:49] Zalart commented on #175
Yep, the issue still exists. I have absolutely the same problem with the firestore bucket
Everything that assigned to `source:` property becomes urelncoded. So when I try e.g. add `?alt=media` to the source string, it becomes something like that: `https://firebasestorage.googleapis.com/v0/b/objects-media/o/QZibN4y0702WZssXH7jv%2Fd783e946-58cf-43e8-af5f-fc78cb65d3b0.jpeg%3Falt%3Dmedia`

[2021-04-22 05:41] Elshir opened #176 "How exactly to upload images to bucket?"
**Here is my codes and I just can't upload it, the uploaded file can not be opened.**

Frontend:
[code]
Backend:
[code]

How can I file name and file object from `req` from frontend?
Please help, thank you in advance.

[2021-04-22 06:41] rikschennink commented on #176
We require the issue template to be filled out on all new issues. The issue template helps us collect all the information we need to address your submission efficiently.

If your issue can be classified as an integration question or a question about specific features of FilePond we ask you kindly to submit it on [Stack Overflow](https://stackoverflow.com/questions/tagged/filepond).

We will be abl

[2021-04-22 06:41] #176 closed

[2021-04-22 06:53] Elshir commented on #176
I've update this issue.

[2021-04-22 07:05] rikschennink commented on #176
This seems to be an S3 issue instead of a FilePond one, test if the file can be uploaded to your server first. See if the file can be opened. You might want to handle the file in `req.files` instead of body. Will leave closed, please move to Stack Overflow if it doesn't work as this is a configuration problem and not related to FilePond itself.

[2021-04-22 07:33] rikschennink commented on #175
Can you test if this also happens if you set up a custom load method?

https://pqina.nl/filepond/docs/patterns/api/server/#advanced

[2021-04-22 09:19] Elshir commented on #176
If I `console.log(req.files), I got `undefined`

[2021-04-25 09:12] roojay520 opened #177 "How to use a function to trigger upload？"
Thx for the great package, I'm having some problems using it。

When i setting `instantUpload: false` and `allowProcess: false`, I only found a method to cancel the upload in the document [file.abortProcessing](https://pqina.nl/filepond/docs/patterns/api/file/#methods:~:text=Aborts%20processing%20of%20this%20file).

How to implement a method to continue uploading like  `file.reProcess`?

[2021-04-26 01:13] #177 closed

[2021-04-26 01:17] roojay520 commented on #177
move [filepond#693](https://github.com/pqina/filepond/issues/693#issue-867175241)

[2021-04-26 07:10] rikschennink commented on #177
We require the issue template to be filled out on all new issues. The issue template helps us collect all the information we need to address your submission efficiently.

If your issue can be classified as an integration question or a question about specific features of FilePond we ask you kindly to submit it on [Stack Overflow](https://stackoverflow.com/questions/tagged/filepond).

We will be abl

[2021-04-29 19:51] bhkangw opened #178 "Process all files in a single request using FormData & without server prop"
### Summary
I've searched and found references to sending multiple files in a single request, however when removing the server prop and mapping my files array to file objects, and sending the FormData object to the server, I am unsure where I can make the call to server. Onprocessfiles does not get called without the server prop.

### How to reproduce
[code]

onprocessfiles, where I assume would b

[2021-04-30 06:20] rikschennink commented on #178
We require the issue template to be filled out on all new issues. The issue template helps us collect all the information we need to address your submission efficiently.

If your issue can be classified as an integration question or a question about specific features of FilePond we ask you kindly to submit it on [Stack Overflow](https://stackoverflow.com/questions/tagged/filepond).

We will be abl

[2021-04-30 06:48] bhkangw commented on #178
Hi @rikschennink thanks I added the issue template above

[2021-04-30 08:38] rikschennink commented on #178
@bhkangw onprocessfiles is only called when FilePond uploads individual files to the server, if you want to do the upload manually you can use `onupdatefiles` to determine when all files are loaded or add a button to trigger the upload.

Will re-close as this is a question which should be on Stack Overflow.

[2021-04-30 08:38] #178 closed

[2021-04-30 18:20] bhkangw commented on #178
@rikschennink thanks but onupdatefiles doesn't get called in my implementation above either.

I posted this question on stack overflow [here](https://stackoverflow.com/questions/67329459/filepond-process-all-files-in-a-single-request-using-formdata) btw

[2021-04-30 18:34] bhkangw commented on #178
Thanks @rikschennink I'm still not sure how to determine when all files are loaded besides onprocessfile or onprocessfiles. I posted the question to stack overflow [here](https://stackoverflow.com/questions/56715675/filepond-process-all-files-in-one-request) btw, thank you.

[2021-05-03 14:58] rikschennink commented on #178
@bhkangw each item has a status. onupdatefiles together with the status should give you enough info.
https://pqina.nl/filepond/docs/patterns/api/filepond-object/#filestatus-enum

[2021-05-17 11:02] michaelcuneo opened #182 "serverConfig load: works locally, but not when the build is pushed to it's AWS S3 Host."
**Describe the bug**

A clear and concise description of what the bug is.

Not sure if this is a bug, or just a usage problem.

I have quite an editor with a react FilePond component inside for uploading images to an AWS S3 stack. Adding, and Deleting from this S3 Stack using the FilePond works fine...

Editing works fine but only locally.

If I want to edit my file, I use this following setup.

[

[2021-05-27 17:13] mehimanshupatil opened #183 "Clicking on “Tap to cancel” is not working in some cases"
When implementing custom server object. If promise is returned the "tap to cancel" doesn't work  while uploading File.
[code]
In above example if async keyword is added to process function the returned abort function is not called

[check codesandbox](https://codesandbox.io/s/filepond-remove-issue-o0dzq?file=/src/App.js)

possible fixes:
strict type checking

[2021-05-27 18:02] rikschennink commented on #183
The server.process property doesn’t accept promises so this won’t work.

Will close because issue doesn’t conform to issue template.

[2021-05-27 18:02] #183 closed

[2021-06-20 21:47] krajcikondra opened #184 "Default remote images"
Hi, I have a problem with set default files from url address.

My Filepond

[code]

I get following error "Size not available" which is rendered instead of image.
No errors in console.
I use react-filepond in version 7.1.1

It is bug or I do something bad?

[2021-06-21 06:16] rikschennink commented on #184
We require the issue template to be filled out on all new issues. The issue template helps us collect all the information we need to address your submission efficiently.

If your issue can be classified as an integration question or a question about specific features of FilePond we ask you kindly to submit it on [Stack Overflow](https://stackoverflow.com/questions/tagged/filepond).

We will be abl

[2021-06-21 06:16] #184 closed

[2021-06-21 18:44] krajcikondra commented on #184
I wrote there, but I think that nobody will reply me.

https://stackoverflow.com/questions/68071812/react-filepond-and-default-files-from-url-addresses

I am sorry for this bug in this basically feature. Unfortunatelly I must try some other library

[2021-06-21 18:50] rikschennink commented on #184
👍

[2021-06-22 16:30] nevahid opened #185 "is it possible to Keep file blob in browse?"
hi to all, i'm uploading some files to server using filepond, and then i want the user who uploaded the file, be able to view it locally on his/her browser. i could load the file from server using the url passed from filepond upload system, but i want to work with it locally, not downloading the uploaded file. is there any solution?

[2021-06-23 06:52] rikschennink commented on #185
We require the issue template to be filled out on all new issues. The issue template helps us collect all the information we need to address your submission efficiently.

Your issue can be classified as an integration question or a question about specific features of FilePond we ask you kindly to submit it on [Stack Overflow](https://stackoverflow.com/questions/tagged/filepond).

[2021-06-23 06:52] #185 closed

[2021-07-04 12:56] KbnCodes opened #186 "can i upload only audio files? how to prevent other files ?"
This issue tracker is intended to collect bug reports and feature requests.

For help with integrating React FilePond, information on how features work, or questions about specific features of FilePond, please use [Stack Overflow](https://stackoverflow.com/questions/tagged/filepond). Any issues open for help requests will be closed to keep from clogging up the issue tracker.

[2021-07-04 13:06] #186 closed

[2021-07-09 10:23] antipopp opened #187 "Missing option to set the locale"
**Is your feature request related to a problem? Please describe.**
An option that would set the locale imported

**Describe the solution you'd like**
Maybe just a prop that ideally would take a string as the locale (it_IT or en_US)
`<FilePond
    files={files}
    onupdatefiles={setFiles}
    allowMultiple={true}
    maxFiles={10}
    name="files"
    locale="it_IT"
/>`

[2021-07-09 11:40] rikschennink commented on #187
You can spread the object.

[code]

[2021-07-09 11:54] antipopp commented on #187
oh I see. Is there any other way to change locale? I'd like to do it programmatically as I'm using i18next to handle localization. I came up with a 'useEffect' to handle the change, but I was wondering if there was a prettier way (I'm going definitely OT, close the issue if you want):

[code]

[2021-07-09 12:00] rikschennink commented on #187
I don't think that's currently possible, you'd have to destroy and re-create the component.

[2021-07-09 12:00] #187 closed

[2021-07-22 11:31] awede opened #188 "onprocessfile, change the file status manually"
Hi,
First of all, great work, this is one great and wonderful piece of work.
I'm trying to use the FilePond in my react project for uploading files.
My workflow is that I upload the file and in onprocessfile, I call a custom api point with axios to automatically save the file to the right location on the server.
It works good, unless the server has some error (space, file size, some other checks I

[2021-07-23 06:40] rikschennink commented on #188
To upload files you should use the `server` property, it will automatically update the UI state https://pqina.nl/filepond/docs/api/server/#object-configuration

Please for future tickets → ask questions on Stack Overflow and tag with filepond.

[2021-07-23 06:40] #188 closed

[2021-08-11 15:34] jerome-diver opened #189 "Best practice to use Filepond on a React Server Side Rendering technology web site."
Hello and thank you for your library.
Is it possible (without the need to write all the events) to use Filepond with a React SSR web site ?
For example, to get file show on the client side, but not upload on server side after to add the file/image (innside a form with any other inputs) , and to upload it at form submit (so not only the form for this uploaded things, but full content of data, inclu

[2021-08-13 06:25] rikschennink commented on #189
It can be used with SSR but it'll just wait till the client loads and then it'll populate the files.

I'll close the issue because it doesn't conform to the issue template.

[2021-08-13 06:25] #189 closed

[2021-08-13 08:43] jerome-diver commented on #189
ok, thank you for your answser.
The idea to use it with SSR is not to post a request everytime something is changing on a form view client side... it is not logic with SSR concept.
If you would like one day to implement something for SSR, let me know please. Your library is nice (i will sure use it with SSR when it will be possible).

[2021-08-13 08:49] rikschennink commented on #189
You could use mock files, see here: https://pqina.nl/filepond/docs/api/instance/properties/#files

[2021-08-13 11:35] jerome-diver commented on #189
yes, i see and tested this already, but it is to much. Need to implement a function to call to get and add mocked data... i'm searching for something more "efficient" (it is not the best adjective i think, but Englmish is not my language, i don't know which adjective to use to describe it as i hope it to be more...).
Anyway, i will find or do myslef one.

[2021-08-18 21:35] kyle-platt opened #191 "onaddfile says the error type is FilePondErrorDescription however I'm getting a different error object"
Dependancies:
[code]

I'm using the `onaddfile` callback which claims to be the following type:

`onaddfile?: (error: FilePondErrorDescription | null, file: FilePondFile) => void;`

and `FilePondErrorDescription` is typed as:

[code]

However, when I get a validation error and I console the error object I see:

[code]

I would like to use the `main` and `sub` strings but I'm getting errors because

[2021-08-20 17:55] rikschennink commented on #191
Hm, that should indeed be similar, but types where added after those plugins so might be some inconstancy.

I'd advise to `@ts-ignore` this for now.

[2021-09-03 16:48] davidli3100 opened #192 "Filepond automatically URI encodes S3 signed URL - causing a 400 Error"
Pretty simple issue:

The `X-Amz-Credentials` query string param starts as  `STRING/20210903/ca-central-1/s3/aws4_request`  but after filepond gets the file, that query string gets encoded to  `STRING%2F20210903%2Fca-central-1%2Fs3%2Faws4_request` which breaks S3 authentication.

Is there a way to override encoding or maybe decode the URI before filepond sends the request?

[2021-09-04 10:53] rikschennink commented on #192
https://github.com/pqina/filepond/issues/610#issuecomment-733046306

Will close because the issue does not follow the issue template and can be resolved with custom `server` function, see docs referenced in linked comment.

[2021-09-04 10:53] #192 closed

[2021-10-01 15:59] yamila-fraiman opened #193 "Ref null after uploading a file"
**Describe the bug**
I'm receiving null in the ref function when upload a file. When I always display the field I'm not having issues with this but when I upload a file and hide the field (because it depends on a checkbox and the user can hide anytime), "this.pond" is null.

**To reproduce**

* Open [this codesandbox](https://codesandbox.io/s/react-filepond-live-demo-forked-b57j0?file=/src/index.j

[2021-10-02 05:33] statisticalCalculator opened #194 "Server Id is concatenated to the load url"
Hi there.
It's greet to have you crafted such a greet JS library.
Big thanks.

By the way, I've got some problems connecting my frontend FilePond to my server for loading already uploaded files.

Here is my server options

[code]

And here I'm adding my files from server

[code]

Here is the formatting of images in my controller (php) before passed to JS

[code]

But The file is not loaded, showin

[2021-10-02 09:33] rikschennink commented on #194
We require the issue template to be filled out on all new issues. The issue template helps us collect all the information we need to address your submission efficiently.

If your issue can be classified as an integration question or a question about specific features of FilePond we ask you kindly to submit it on [Stack Overflow](https://stackoverflow.com/questions/tagged/filepond).

We will be abl

[2021-10-02 09:33] #194 closed

[2021-10-03 14:19] statisticalCalculator commented on #194
In fact I've fixed the issue by adding a query param to the load url,
LIKE
[code]
and after the concatenation it works.

Although I feel like this is a hackish fix.

Thanks anyway.

[2021-10-03 15:06] rikschennink commented on #194
This is in the server docs.

About the load method:
https://pqina.nl/filepond/docs/api/server/#load

About the URL:
https://pqina.nl/filepond/docs/api/server/#url

[2021-10-04 07:51] rikschennink commented on #193
Does the same thing happen with `useRef`?
https://reactjs.org/docs/hooks-reference.html#useref

[2021-10-04 15:15] yamila-fraiman commented on #193
I'm still using class component to wrap filepond as a custom component. If I use createRef I have the same problem because when I receive null, my ref is null and because I don't display the component, this.pond.current is null

[2021-10-04 15:24] yamila-fraiman commented on #193
I think my issue is related to my implementation. I'm using a custom class component for wrapping filepond. The problem is that this.pond is undefined in the render method after hiding it. Any idea?

[2021-10-05 06:07] rikschennink commented on #193
If it's related to your implementation then I'd like to kindly ask to move the issues to Stack Overflow. Happy to help out there, but please provide a test case that fits your implementation.

[2021-10-06 06:42] mohammadrezahayati opened #195 "onload return 404 at preview"
Hi, I try to return response in onload  method at the first upload file and return response successfully but preview gave me 404  but response and return and setFiles initialized please help me
 server={{
                                url: `${process.env.REACT_APP_URL}`,
                                timeout: 1000,
                                process: {

[2021-10-06 06:48] #195 closed

[2021-10-10 18:06] #193 closed

[2021-10-29 08:32] andrewkazan opened #196 "[Bug]"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Have you updated React FilePond, FilePond, and all plugins?

- [X] I have updated FilePond and its plugins

### Describe the bug

If you use TypeScript, you has error that FilePondReact does not exist default FilePond properties
![Screenshot 2021-10-29 at 11 27 49 AM](https://user-images.githubusercontent.com/

[2021-11-02 06:35] rikschennink commented on #196
I don't think `dataMaxFileSize` is a valid prop, will close for now.

[2021-11-02 06:35] #196 closed

[2022-01-18 05:22] thunderwin commented on #111
or just keep it simple. Just put a svg file there..

`   <file-pond
      name="test"
      ref="pond"
      class="filepond"
      label-idle='<svg class="w-10 h-10 dark:text-white" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="M12 14l9-5-9-5-9 5 9 5z"></path><path d="M12 14l6.16-3.422a12.083 12.083 0 01.665 6.479A11.952 11.952 0 0012 20.055a11.

[2022-01-24 11:12] akshay-1707 commented on #76
@luongs3  is your issue resolved and if yes how u have resolved it?

[2022-01-24 11:25] rikschennink commented on #76
@akshay-1707 this is a while ago but I think this was the issue

[code]

If the file is a local URL you can also set a function to a `fetch` method, something like
https://pqina.nl/filepond/docs/api/server/#load-1

[code]

[2022-01-24 11:38] akshay-1707 commented on #76
@rikschennink  I m getting this issue. image added as attachement
![Screenshot 2022-01-24 at 5 05 56 PM (2)](https://user-images.githubusercontent.com/93914484/150776305-df7a76ff-86de-49cb-94cd-f5cd2c390992.png)

[2022-01-24 11:40] akshay-1707 commented on #76
@rikschennink  I m Facing this issue image added as attachement . i have enabled each and everything on aws s3 bucket . but still facing cors issue
![Uploading Screenshot 2022-01-24 at 5.06.20 PM.png…]()

[2022-01-24 11:41] akshay-1707 commented on #76
@rikschennink I m Facing this issue image added as attachement . i have enabled each and everything on aws s3 bucket . but still facing cors issue

<img width="1440" alt="Screenshot 2022-01-24 at 5 06 20 PM" src="https://user-images.githubusercontent.com/93914484/150776749-83a8d428-1240-4e33-9297-9b71e13842fa.png">

[2022-01-24 11:44] rikschennink commented on #76
@akshay-1707 You can try with this URL: https://pqina.nl/pintura/test/cors/test.jpeg

If it works it means you still need to make changes to S3 config.

https://pqina.nl/pintura/docs/v8/faq/resolve-cors-errors/

[2022-01-25 04:37] akshay-1707 commented on #18
@dineshtalekar777  is file pond working for u properly need a small help?

[2022-01-25 06:31] akshay-1707 commented on #76
@rikschennink  i tried using this url but the image is not getting preview

      `       <FilePond
                style={{ marginTop: "10px" }}
                // ref={(ref) => (this.pond = ref)}
                files={files}
                allowMultiple={true}
                allowReorder={true}
                onupdatefiles={setFiles}
                onreorderfiles={setFiles}

[2022-01-25 06:45] rikschennink commented on #76
The URL is not an API but of an image you can try to load.

If previews don't show up make sure you've registered the image preview plugin.

[2022-01-25 07:01] akshay-1707 commented on #76
@rikschennink  Hey i m facing some issue can we have a quick call on google meet is it possible for you . Can u please take out 5 minutes from your schedule

[2022-01-25 07:42] rikschennink commented on #76
@akshay-1707 No that is not possible, this is a free library, I currently don't offer support contracts for FilePond. Feel free to ask questions on Stack Overflow.

[2022-01-29 14:31] bishnu-47 commented on #163
how to get the file inside onSubmit then?

[2022-01-29 15:12] rikschennink commented on #163
get a ref to FilePond component and call `getFiles()` on the FilePond instance in the ref.

[2022-02-07 17:45] tiantud opened #198 "[Bug] onupdatefiles cannot get updated state while onaddfile can"

[2022-02-07 17:57] #170 closed

[2022-02-07 23:40] tiantud commented on #198
I tried to find another way to use the event onupdatefiles, because its the only one event which supports sync-uploading.

## First try, but **failed**

### Reproduction

In this sandbox, I am using the conditional rendering to render different FilePond for different state. But it turns out, that even the FilePond component is changed, the registed event function stays the same.

 [codesandbox](ht

[2022-03-01 23:25] aubreyyan opened #204 "[Bug] Filepond component styling breaks after custom react styles"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Have you updated React FilePond, FilePond, and all plugins?

- [X] I have updated FilePond and its plugins

### Describe the bug

sandbox: https://codesandbox.io/s/react-filepond-live-demo-forked-vb6es9?file=/src/index.js

All I changed from the original demo sandbox that this repository provides is I added `s

[2022-03-08 09:08] rikschennink commented on #204
This is a CSS issue, please ask questions about FilePond features on [Stack Overflow](https://stackoverflow.com/questions/tagged/filepond).

[2022-03-08 09:08] #204 closed

[2022-03-22 10:41] tyddynonn opened #205 "Template for Preview?"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Is your feature request related to a problem? Please describe.

I'd like to be able to have the user add some metadata for an image in the preview list, prior to upload.

In my specific use case, that would be a text input for a Title for the image, which could then be added to metadata before upload.

Seems l

[2022-04-17 10:07] hug-0 opened #207 "[Bug]: React-FilePond for React 18 does not load"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Have you updated React FilePond, FilePond, and all plugins?

- [X] I have updated FilePond and its plugins

### Describe the bug

Hi there,

First off - thanks for an amazing file uploader! It's rare to find a feature-rich package with top notch UX out of the box.

After upgrading to React 18 and the new `crea

[2022-04-18 14:51] rikschennink commented on #207
Hey! Thanks! And thanks for the detailed issue report, going to take a look at this later this week and will get back to you.

[2022-04-18 14:51] rikschennink commented on #207
Hey! Thanks! And thanks for the detailed issue report, going to take a look at this later this week and will get back to you.

[2022-04-18 16:07] kevinntruo opened #208 "Custom hook does not work with ```beforeAddFile```"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Have you updated React FilePond, FilePond, and all plugins?

- [X] I have updated FilePond and its plugins

### Describe the bug

I have created a ```useConfirm``` hook that returns a ```Promise``` by opening a dialog.
This works for ```beforeRemoveFile``` but not ```beforeAddFile```.
Is this expected?
Besides

[2022-04-19 14:20] rikschennink commented on #207
I've locally updated the example project to React 18, it worked fine until I wrapped the `<App />` win `<StrictMode>`

Not sure, maybe React is not happy that FilePond uses classic DOM APIs to interact with its child elements?

I've adjusted the example a bit so the TypeScript error is gone. There's probably better ways to approach that, but this works.

https://codesandbox.io/s/react-filepond-iss

[2022-04-19 14:45] rikschennink commented on #208
To be honest, I'm not sure what's going on. If I comment out the files / onupdatefiles block, it works as expected.

It seems that setting the `files` property is somehow connected to this but I don't know why that would make a difference.

[2022-04-19 15:13] kevinntruo commented on #208
Hi @rikschennink, thank you for your response. I would never have thought commenting out the files / onupdatefiles block would work. I'll take a look at this in my free time :).

[2022-04-19 20:52] hug-0 commented on #207
Thanks.

I'm still stumped. I also removed StrictMode and my sandbox now runs. But my actual project environment still throws the same error. I'm not using StrictMode there either.

React-FilePond runs well in React 17 in my project, but not at all in React 18.

Any suggestions on what I might go looking for to uncover the actual issue?

The log is

[code]

[2022-04-20 05:41] rikschennink commented on #207
Maybe you have `<StrictMode>` wrapping a node at some other location in your code?

About the error, for some reason the `parentNode` of FilePonds root element is `null` for a short moment. Not sure why.

[2022-04-20 06:28] hug-0 commented on #207
@rikschennink - Yes, you're right. I had missed a StrictMode wrapper in an enveloping container. Thanks!

It's quite nice to be able to run StrictMode in development, as the errors are a lot more meaningful than without them, as per the [React docs](https://reactjs.org/docs/strict-mode.html). I'll disable it for now!

Let me know if there're any additional digging you'd like help with.

Cheers,
H

[2022-04-20 06:56] rikschennink commented on #207
Okay, glad to hear that.

I'll investigate further when I have some more time.

Hoped there was a way to disable strict mode for a part of the subtree but that is not possible as it would undermine the reason for having strict mode, which makes sense.
https://github.com/facebook/react/issues/16362

[2022-05-06 00:48] KentShikama commented on #207
@rikschennink It looks like `destroy` isn't called after the first render and so when strict mode goes for its second render it isn't starting from a clean slate.

[2022-05-12 09:09] rikschennink commented on #207
Should be fixed in `7.1.2`

[2022-05-17 08:06] zmm2tysu opened #211 "[Bug] The server config load is not working properly"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Have you updated React FilePond, FilePond, and all plugins?

- [X] I have updated FilePond and its plugins

### Describe the bug

[code]
The above is my code, I found load is not excuted.
Also I also found a request for image url, I just need the part of what after the equal sign.
<img width="867" alt="image"

[2022-05-17 08:07] zmm2tysu commented on #211
<img width="812" alt="image" src="https://user-images.githubusercontent.com/20849786/168761885-2b53494b-b3c9-4d8c-af3b-fd13dad15d03.png">

[2022-05-17 09:08] rikschennink commented on #211
Your issue can be classified as an integration question or a question about specific features of FilePond we ask you kindly to submit it on [Stack Overflow](https://stackoverflow.com/questions/tagged/filepond).

[2022-05-17 09:08] #211 closed

[2022-05-18 03:02] zmm2tysu commented on #211
@rikschennink  why  load is not work

[2022-05-19 10:19] Rocinante89 opened #212 "[Bug] Typescript error on latest react version"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Have you updated React FilePond, FilePond, and all plugins?

- [X] I have updated FilePond and its plugins

### Describe the bug

I'm getting the following typescript errors when trying to use filepond in a remix typescript application:

`JSX element class does not support attributes because it does not have a

[2022-05-20 09:34] rikschennink commented on #212
You're importing the vanilla JavaScript library instead of the React component.

[2022-05-20 09:34] #212 closed

[2022-05-20 10:01] Rocinante89 commented on #212
🤦‍♂️

[2022-05-25 08:14] mctrl opened #213 "[Bug] type FilePondBaseProps doesn't seem to pull from updated list of FilePondBaseProps"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Have you updated React FilePond, FilePond, and all plugins?

- [X] I have updated FilePond and its plugins

### Describe the bug

I'm using typescript and I was trying to disable the credits (I know, I'm sorry..it's a client's request). I've noticed that I wasn't able to do so as `credits` doesn't seem to be a

[2022-05-25 13:33] rikschennink commented on #213
Hi, Yes they will be added in a new release, I've been gathering pull requests. Will close for now.

[2022-05-30 13:30] andrewkazan commented on #196
This is issue is not about dataMaxFileSize. This about "credits" prop

[2022-06-23 17:59] altechzilla commented on #111
Is this dead?

[2022-07-03 05:45] JoeyEamigh commented on #56
Hey! I know this is old but I needed video length validation, so I wrote a quick plugin to handle it.

<https://www.npmjs.com/package/filepond-plugin-validate-video-length>
<https://github.com/JoeyEamigh/filepond-plugin-validate-video-length>

Just in case anyone happens across this issue and also needs it.

[2022-07-04 06:42] rikschennink commented on #56
@JoeyEamigh Thanks for building this Joey!

[2022-07-14 00:14] antonio-murta opened #215 "Can you use server to connect with mongo.db?"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Is your feature request related to a problem? Please describe.

I want to send a picture to my MongoDB back-end through filepond, is this possible?
Thank you!

### Describe the solution you'd like

No clue

### Describe alternatives you've considered

I haven't found anything online

[2022-07-14 05:57] rikschennink commented on #215
Yes, this is possible, but as requested in the issue flow please ask integration questions on Stack Overflow.

[2022-07-14 05:57] #215 closed

[2022-09-12 07:02] serojatech commented on #171
I have the same issue on production server.
Percentage progress shows on local development but not showing on production server.

[2022-09-13 08:25] positivedeveloper36 commented on #65
@aidenywl What is the solution? Can you explain in more detail? Did you change ```load(response.data.data.id);``` to `response.data.data`

I have the same problem

[2022-09-27 20:33] afilp commented on #40
How can we set the locale?

Example in non-react code:
[code]

How can we do this here?

Thanks!

[2022-10-04 14:29] leshma opened #217 "[Feature] Button for displaying full image preview"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Is your feature request related to a problem? Please describe.

Right now, I don't seem to have the ability to display full-sized images as a "preview" or as a fullscreen in a modal dialog (like a gallery) or in a new tab.

### Describe the solution you'd like

It would be splendid if there was a way to add a

[2022-10-05 01:21] diva-D commented on #198
+1, I'm also getting this issue.

Using `onupdatefiles` always returns the intial state, whereas `onaddfile` returns the updated state values.

[2022-10-07 10:44] theJsTsGuy opened #218 "[Feature] Use Filepond without its UI?"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Is your feature request related to a problem? Please describe.

Hi File Pond Team,

Thank you very much for creating and painting this library!

I use this library in both the front-end (react) and back-end (laravel) for chunked file uploads. I now want to implement the UI by myself, which will be different fr

[2022-10-11 07:22] rikschennink commented on #218
Currently that's simply not possible, I'm slowly working on v5 which will have a separate ui and core so you can bring your own ui.

[2022-10-11 07:43] theJsTsGuy commented on #218
Thank you @rikschennink! I appreciate the effort you are putting into this project!
Best Regards.

[2022-10-12 19:03] JeanSamGirard opened #219 "Filepond makes a GET request to the root of my server when removing a preloaded local file [Bug]"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Have you updated React FilePond, FilePond, and all plugins?

- [X] I have updated FilePond and its plugins

### Describe the bug

When using the option type:"local" to load files in filepond a GET request to the server is made to load the file, this works as intended. But when I click on the (X) to remove the

[2022-10-13 06:30] rikschennink commented on #219
Does this also happen when you remove `filepond-plugin-get-file` plugin?

[2022-10-18 06:40] rikschennink commented on #219
I'll look into it when I have some time.

[2022-10-18 16:17] rizkimcitra commented on #193
Hi, I just found Filepond and I think it is an awesome library to use on my next project
im using `React @18.2.0` with `TypeScript @4.6.4`, how do I get the `ref`?

[code]

and typescript is angry and showed me this error:

[code]

[2022-11-04 09:30] shp7724 commented on #193
@rizkimcitra try this:

[code]

[2022-11-07 17:46] AJKossi opened #220 "[Bug]"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Have you updated React FilePond, FilePond, and all plugins?

- [X] I have updated FilePond and its plugins

### Describe the bug

We are using filepond in nextjs project.
Every file contains all other files. If we submit 2 files. Every file contains 2 files.
And when uploading to server, it becomes 4 files.
Wi

[2022-11-08 06:50] rikschennink commented on #220
Without a reproduction on codesandox I can't help with this, the issue description is just too vague.

[2022-11-08 06:50] #220 closed